
.borda{

 	flex-flow:row nowrap;
    justify-content:space-between;
    align-items:flex-start;
    align-content:space-around;
    width: 1000px;
    height: 304px;
	position: relative;
	margin: 0 auto;

}